.gallery img
{
    
    width: 100%;
    height: 200px;
}
.gallery
{
    background:url('https://thumbs.dreamstime.com/z/art-gallery-blank-picture-frames-brick-wall-background-44019563.jpg');
    height:100%;
    padding: 10px 20px;
}
.box
{
    background-color: blanchedalmond;
    height: 100%;
    padding: 20px 10px;
  
}