<section class="profile">
    <div class="container">
        <h1 class="text-center">MY PROFILE</h1>
        <img src="assets/Dariel.jpeg" width="20%" height="20%">
		<div class="border"></div>


        
        <p class="talent">
	
           Hello!! Good Day. I'm Dariel Gie Badilla, 20 years of age. Currently residing at Brgy. Sto Nino Jaro, Leyte. I am the first child of Gaudencio Badilla (Farmer) and Virginia Cospada (Housewife).
           I have a very simple life with a very lovable parents. I'm currently studying at Eastern Visayas State University - Carigara Campus. Third year student, taking up the degree of Bachelor of Science in Information Technology. 
        I am typical girl who loved to dance, especially on tiktok.
        </p>
    </div>
    </section>
