.profile
{
    background:url("http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/386480/119a5e4828facc5f55a992cb27d4a4b25dd57241.jpg");

}
h1{
    color: yellow;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 21%;
    
  }
.border{
    width: 90%;
    height: 10px;
    background: yellow;
    margin: 20px auto;
}
.talent{
    margin: 20px;
    padding: 20px;
    font-family: Elepanth;
    font-size: 30px;
    word-spacing: 10px;
    color: white;
}